html {
    background-color: whitesmoke;
    background-image: url(https://i.dlpng.com/static/png/1740177-toy-train-train-clipart-toy-small-train-png-image-and-clipart-toy-train-png-free-650_400_preview.png);
    background-size: cover;
    background-repeat: no-repeat;
}